{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_book_index') }}" class="btn btn-primary">Admin Panel</a>
    {% endif %}

{% endblock %}
